@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

body {
    font-family: Product Sans;
}

div.border, span.border {
    border-style: solid;
    border-color: darkgrey;
    border-width: thin;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

div.border {
    padding:12px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

div.border h2 {
    margin-top: 0px;
}

span.border {
    padding: 5px;
}

.success {
    background-color: hsla(149, 23%, 78%, 1) !important;
}

.warning {
    background-color: hsla(48, 58%, 75%, 1) !important;
}

.failure {
    background-color: hsl(4, 56%, 79%) !important;
}

table {
    border-collapse: collapse;
    margin: 2px;
}
  
table, td, th {
    border: 1.6px solid rgb(88, 88, 88);
}

td, th {
    padding: 4px;
    background-color: rgb(245, 245, 245);
}

img {
    height: 15px;
}